@tailwind base;
@tailwind components;
@tailwind utilities;

#value_fields:focus-visible {
  outline: none !important;
  overflow: hidden;
}

.connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: -1;
  opacity: 0.3;
}
